body {
    background-color: #333;
    margin-left: 15%;
}

#content {
    margin-top: 8vh;
    margin-left: 10%;
    display: inline-block;
    border: 1px solid #666;
}

#content canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}